*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

section{
    width:100%;
    height: 100vh;
    background-color: #0000a5;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.btn input{
    width: 40rem;
}